.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 300px;
    margin: auto;
  }
  
  .formGroup {
    margin-bottom: 15px;
  }
  
  .label {
    margin-bottom: 5px;
  }
  
  .input {
    padding: 8px;
    font-size: 14px;
  }
  
  .button {
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    background-color: rgb(45, 172, 162);
    border-radius: 5px;
  }
  
  .button:disabled {
    cursor: default;
    background-color: #ccc;
    color: #666;
  }
  
  .successMessage {
    color: green;
    margin-top: 10px;
  }

  .errorMessage {
    color: red;
    margin-top: 10px;
  }